
<%- include('./partials/adminnav.ejs') %>

        <div class="dash-content">
            <div class="overview">
                <div class="title d-flex justify-content-center">
                    <span class="text">Dashboard</span>
                </div>

                <div class="row justify-content-around w-100 mt-4">
                    <div class="col-md-3 mb-3">
                      <div class="card text-center shadow border-0">
                        <div class="card-body">
                          <h5 class="card-title">Total Orders</h5>
                          <h4 class="card-text">15</h4>
                        </div>
                      </div>
                    </div>
                    <div class="col-md-3 mb-3 ">
                      <div class="card text-center shadow border-0">
                        <div class="card-body">
                          <h5 class="card-title">Total Revenue</h5>
                          <h4 class="card-text">$100,245</h4>
                        </div>
                      </div>
                    </div>
                    <div class="col-md-3 mb-3">
                      <div class="card text-center shadow border-0">
                        <div class="card-body">
                          <h5 class="card-title">Total Profit</h5>
                          <h4 class="card-text">$25,632</h4>
                        </div>
                      </div>
                    </div>
                </div>

                <div class="row d-flex justify-content-center mt-4 w-100 ">
                  <div class="ml-2 d-flex justify-content-center">
                    <canvas id="myChart" class="shadow"></canvas>
                  </div>
                </div>
            </div> 
        </div>
    </section>

    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script>
        const ctx = document.getElementById('myChart');
       
        const data = {
              labels: [
                        "January", "February", "March", "April", "May", "June",
                        "July", "August", "September", "October", "November", "December"
                      ],
              datasets: [{
                label: 'My First Dataset',
                data: [65, 59, 80, 81, 56, 55, 40, 55, 40, 23, 150, 10],
                backgroundColor: [
                  'rgba(54, 162, 235, 1)',
                ],
                borderColor: [
                  'rgba(54, 162, 235, 1)'
                ],
                borderWidth: 0
              }]
            }

        new Chart(ctx, {
          type: 'bar',
          data: data,
          options: {
                    scales: {
                      y: {
                        beginAtZero: true
                      }
                    }
                  }
        });
    </script>

    
    <script src="/javascripts/dash.js"></script>
</body>
</html>