<%- include('./partials/header.ejs') %>


<div class=" mb-5 w-100 " style="">
    <div id="carouselExampleCaptions" class="carousel slide w-100">
        <div class="carousel-indicators">
          <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
          <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1" aria-label="Slide 2"></button>
          <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2" aria-label="Slide 3"></button>
        </div>
        <div class="carousel-inner">
          <div class="carousel-item active">
            <img src="/images/banner1.jpg" class="d-block w-100" alt="...">
            <div class="carousel-caption d-none d-md-block">
              <h5>First slide label</h5>
              <p>Some representative placeholder content for the first slide.</p>
            </div>
          </div>
          <div class="carousel-item">
            <img src="/images/banner1.jpg" class="d-block w-100" alt="...">
            <div class="carousel-caption d-none d-md-block">
              <h5>Second slide label</h5>
              <p>Some representative placeholder content for the second slide.</p>
            </div>
          </div>
          <div class="carousel-item">
            <img src="/images/banner1.jpg" class="d-block w-100" alt="...">
            <div class="carousel-caption d-none d-md-block">
              <h5>Third slide label</h5>
              <p>Some representative placeholder content for the third slide.</p>
            </div>
          </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
        </button>
      </div>
</div>

<div class="container">
    <div class="row">
        <div class="col-md-12 f-flex justify-content-center">
            <div class="center-div f-flex justify-content-center">
                <h1 class="title">Categories for Men</h1>
            </div>
        </div>
    </div>
</div>

<div class="container">
    <div class="row ">
        <!-- Cards for larger screens -->
        <div class="col-md-3 col-6 p-1">
            <div class="card rounded-card">
                <img src="/images/catm1.webp" alt="Card Image" class="card-img">
                <div class="card-img-overlay">
                    <h5 class="card-title1">Hoodies & Sweetshirt</h5>
                 
                </div>
            </div>
        </div>
        <div class="col-md-3 col-6 p-1">
            <div class="card rounded-card">
                <img src="/images/catm2.webp" alt="Card Image" class="card-img">
                <div class="card-img-overlay">
                    <h5 class="card-title1">Shirts</h5>
             
                </div>
            </div>
        </div>
        <div class="col-md-3 col-6 p-1">
            <div class="card rounded-card">
                <img src="/images/cat3.webp" alt="Card Image" class="card-img">
                <div class="card-img-overlay">
                    <h5 class="card-title1">Trousers</h5>
                 
                </div>
            </div>
        </div>
        <div class="col-md-3 col-6 p-1">
            <div class="card rounded-card">
                <img src="/images/cat4.webp" alt="Card Image" class="card-img">
                <div class="card-img-overlay ">
                    <h5 class="card-title1">Casual Shirts</h5>
      
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container">
    <div class="row ">
        <!-- Cards for larger screens -->
        <div class="col-md-3 col-6 p-1">
            <div class="card rounded-card">
                <img src="/images/cat5.webp" alt="Card Image" class="card-img">
                <div class="card-img-overlay">
                    <h5 class="card-title1">Card 1</h5>
                 
                </div>
            </div>
        </div>
        <div class="col-md-3 col-6 p-1">
            <div class="card rounded-card">
                <img src="/images/cat6.webp" alt="Card Image" class="card-img">
                <div class="card-img-overlay">
                    <h5 class="card-title1">Card 2</h5>
             
                </div>
            </div>
        </div>
        <div class="col-md-3 col-6 p-1">
            <div class="card rounded-card">
                <img src="/images/cat7.webp" alt="Card Image" class="card-img">
                <div class="card-img-overlay">
                    <h5 class="card-title1">T-Shirt</h5>
                 
                </div>
            </div>
        </div>
        <div class="col-md-3 col-6 p-1">
            <div class="card rounded-card">
                <img src="/images/catm8.webp" alt="Card Image" class="card-img">
                <div class="card-img-overlay ">
                    <h5 class="card-title1">Jeans</h5>
      
                </div>
            </div>
        </div>
    </div>
</div>



<%- include('./partials/footer.ejs') %>