<%- include('./partials/header.ejs') %>

<div class="container-fluid">
    <div class="row min-vh-100">
        <div class="col-md-6 m-0 p-0 d-none d-md-block">
            <!-- Image section (visible on medium and larger screens) -->
            <img src="/images/loginPageImage.jpeg" alt="Background Image" class="w-100 h-100 object-fit-cover">
        </div>
        <div class="col-md-6 col-12 bg- d-flex align-items-center justify-content-center">
            <!-- Login form section -->
            <form class="m-5 p-5 w-100" method="post" action="/login">
                <h2 class="mb-4" contenteditable="false">Login</h2>
                <div class="mb-3">
                    <label for="email" class="form-label">Email</label>
                    <input type="email" name="email" class="form-control" id="email" placeholder="Enter your email">
                </div>
                <div class="mb-3 ">
                    <label for="password" class="form-label">Password</label>
                    <input type="password" name="password" class="form-control" id="password" placeholder="Enter your password">
                </div>
                <div class="d-flex justify-content-end">
                    <a href="/forgotPass"><small id="forgotPass" class="justify-content-end">Forgot password?</small></a>
                </div>
                <!-- Display error messages using EJS if statements -->
                <% if (error === 'user_not_found') { %>
                    <div class="text-danger mb-3">User not found.</div>
                <% } else if (error === 'incorrect_pass') { %>
                    <div class="text-danger mb-3">Incorrect password. Please check your password and try again..</div>
                <% } else if (error === 'save_failed') { %>
                    <div class="text-danger mb-3">Failed to save user data.</div>
                <% } else if (error === 'user_blocked') { %>
                    <div class="text-danger mb-3">User has been blocked by the administrator. For further assistance, please contact the admin.</div>
                <% } %>
                <button type="submit" class="btn ">Login</button>
                <hr class="my-4">
                <h5>Don't have an account yet? <a href="/signup"><b>Sign Up</b></a></h5>
                <!-- <button type="button" class="btn ">Login with Google</button> -->
            </form>
            
        </div>
    </div>
</div>

